---
title: Whomp Club
---

.delete-me
  .container
    %h1
      %img{ src: "/assets/images/logo.png", width: 256 }

    :markdown
      # Whomp Club

      #### Coming Soon

      Awesome youth group games.  
      Most of which inculde the use of pool noodles.

